/*下載字體*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400&display=swap');

.div_box {
    width: 600px;
    height: 180px;
    background-color: pink;
    text-align:center;
    border-style:dashed;
    font-family: 'Noto Sans TC', sans-serif;
    
}